{{#*inline "content"}}
    <h1 class="tabs-bar">
        Reports

        <ul>
            <li {{#if resolved}}class="active" {{/if}}>
                <a
                    {{#if project_id}}
                    href="/reports?project_id={{project_id}}&resolved=1"
                    hx-get="/reports?project_id={{project_id}}&resolved=1"
                    {{else}}
                    href="/reports?resolved=1"
                    hx-get="/reports?resolved=1"
                    {{/if}}
                    hx-push-url="true" hx-target="main">
                    Resolved
                </a>
            </li>
            <li class="active">
                <a href="/notifications/setup/{{project_id}}"
                    hx-get="/notifications/setup/{{project_id}}"
                    hx-push-url="true" hx-target="main">Notifications</a>
            </li>
        </ul>
    </h1>

    <form autocomplete="off">

        <div class="reports-table">
            <table>
                <thead>
                    <tr>
                        <th>Organization Member</th>
                        <th>Role</th>
                        <th>Send Email?</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each members}}
                        <tr>
                            <td>
                                <strong>
                                    {{#if name}}
                                        {{name}}
                                    {{else}}
                                        {{email}}
                                    {{/if}}
                                </strong>
                            </td>
                            <td>{{role}}</td>
                            <td>
                                <input
                                    type="checkbox"
                                    name="user_ids[]"
                                    value="{{user_id}}"
                                    {{#if notify_email}}checked="checked" {{/if}} />
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="row middle-xs mb-36">
                <div class="col-md-9">
                    <small>
                        Click
                        <a href="/organization/1?tab=members" hx-get="/organization/1?tab=members" hx-target="main"
                            hx-push-url="true">here</a>
                        to invite members to this organization.
                    </small>
                </div>
                <div class="col-md-3 end-xs">
                    <button
                        class="primary"
                        type="submit"
                        hx-swap="none"
                        hx-post="/notifications/setup/{{project.project_id}}">
                        Save Preferences
                    </button>
                </div>
            </div>
        </div>



    </form>

    <h2>
        Integrations
    </h2>

    <hr />

    <div class="row middle-xs" hx-get="/notifications/slack-config/{{project.project_id}}" hx-trigger="revealed"
        id="slack-config-cnt"></div>

    <hr />

    <div class="row middle-xs" hx-get="/notifications/slack-webhook/{{project.project_id}}" hx-trigger="revealed"
        id="slack-webhook-cnt"></div>

    <hr />

    <div class="row middle-xs">
        <div class="col-md-9">
            <h4>Microsoft Teams</h4>
        </div>
        <div class="col-md-3 end-xs">
            <button
                class="outlined"
                disabled="disabled">
                Coming Soon
            </button>
        </div>
    </div>

    <hr />
{{/inline}}

{{#if is_htmx}}
    {{> content}}
{{else}}
    {{> (lookup this "layout")}}
{{/if}}