<h4 class="event-title">
    Event {{event_pos}}/{{events_count}} received at
    {{dateFmt date=event.created tz=../user.iana_timezone_name}}

    <div class="event-controls">
        <button {{#if (not event.prev_event_id)}}disabled="disabled" {{/if}}
            hx-get="/reports/{{report_id}}/get-event?event_id={{event.prev_event_id}}" hx-target=".report-event"
            hx-push-url="/reports/view/{{event.project_report_id}}?event_id={{event.prev_event_id}}&back_url={{urlencode back_url}}">
            {{> components/icon name="chevron_left" size="18"}}
            Prev
        </button>
        <button {{#if (not event.next_event_id)}}disabled="disabled" {{/if}}
            hx-get="/reports/{{report_id}}/get-event?event_id={{event.next_event_id}}" hx-target=".report-event"
            hx-push-url="/reports/view/{{event.project_report_id}}?event_id={{event.next_event_id}}&back_url={{urlencode back_url}}">
            Next
            {{> components/icon name="chevron_right" size="18"}}
        </button>
    </div>
</h4>

<div class="row">
    <div class="col-xs-6 col-md-3 report-info">
        <span class="info-title">Location</span>
        <span class="info-value">
            {{#if data.loc}}
                {{data.loc.f}}:{{data.loc.l}}{{#if data.loc.c}}:{{data.loc.c}}{{/if}}
            {{else}}
                <span class="text-muted">Unknown</span>
            {{/if}}
        </span>
    </div>
    <div class="col-xs-6 col-md-3 report-info">
        <span class="info-title">Version</span>
        <span class="info-value">{{data.ver}}</span>
    </div>
    <div class="col-xs-6 col-md-3 report-info">
        <span class="info-title">OS / Arch</span>
        <span class="info-value">{{data.os}} / {{data.arch}}</span>
    </div>
    <div class="col-xs-6 col-md-3 report-info">
        <span class="info-title">Thread Name</span>
        <span class="info-value">
            {{#if data.tname}}
                {{data.tname}}
            {{else}}
                <span class="text-muted">Unknown</span>
            {{/if}}
            {{#if data.tid}}
                / {{data.tid}}
            {{/if}}
        </span>
    </div>
</div>

<section>
    <h5>Backtrace</h5>
    <pre class="backtrace">{{data.trace}}</pre>
</section>

<section>
    <h5>Log Output</h5>
    {{#if data.log}}
        <div class="event-log">
            {{#each data.log}}
                <div class="event-log-message">
                    <span class="log-date"
                        title="{{timestampFmt timestamp=ts tz=../user.iana_timezone_name}}">
                        [{{timestampFmt timestamp=ts tz=../user.iana_timezone_name format="short"}}
                    </span>
                    <span class="level-{{lvl}}">
                        {{#if (eq lvl 1)}}ERROR{{/if}}
                        {{#if (eq lvl 2)}}WARN&nbsp;{{/if}}
                        {{#if (eq lvl 3)}}INFO&nbsp;{{/if}}
                        {{#if (eq lvl 4)}}DEBUG{{/if}}
                        {{#if (eq lvl 5)}}TRACE{{/if}}
                    </span>
                    <span class="tooltip" data-text="{{f}}:{{l}}">{{mod}}</span>]:
                    {{msg}}
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="info-section">
            <h3 class="title">No Log Messages Recorded</h3>
            <p>
                The dontpanic client library either isn't configured to record log messages or there were no log
                messages before the panic happened.
            </p>
        </div>
    {{/if}}
</section>