<div>
    {{#if label}}
        <label for="{{name}}-input">{{label}}</label>
    {{/if}}

    <input
        id="{{name}}-input"
        name="{{name}}"
        value="{{value}}"
        type="{{#if type}}{{type}}{{else}}text{{/if}}"
        {{#if placeholder}}placeholder="{{placeholder}}" {{/if}}
        aria-describedby="{{name}}-helper"
        {{#if errors.0.message}}aria-invalid="true" {{/if}}
        {{#if disabled}}disabled="disabled" {{/if}} />

    {{#if errors.0.message}}
        <small id="{{name}}-helper">{{errors.0.message}}</small>
    {{else}}
        {{#if helper_text}}
            <small id="{{name}}-helper">{{helper_text}}</small>
        {{/if}}
    {{/if}}
</div>