{{#*inline "content"}}
    {{#if (not success)}}
        <form method="post" action="/auth/password-reset/{{hash}}"
            hx-post="/auth/password-reset/{{hash}}" hx-target="main" hx-disabled-elt="button">
            <img src="/static/dontpanic-ferris-logo.svg" alt="Don't Panic Ferris Logo" />

            <h2>Set a new password</h2>

            {{> components/text_input 
                name="new_password"
                type="password"
                value=form.new_password
                label="New Password *"
                errors=errors.new_password
            }}

            {{> components/text_input 
                name="new_password_repeat"
                type="password"
                value=form.new_password_repeat
                label="Repeat New Password *"
                errors=errors.new_password_repeat
            }}

            <button type="submit" class="primary">
                Update
                {{> components/icon name="loader" size=24 }}
            </button>

            <small class="text-error">{{error_message}}</small>
        </form>
    {{else}}
        <form>
            <img src="/static/dontpanic-ferris-logo.svg" alt="Don't Panic Ferris Logo" />

            <p>
                Your password is updated.
            </p>
            <p>
                <a href="/login" hx-get="/login" hx-target="main" hx-push-url="true">Sign In</a> to your account.
            </p>
        </form>
    {{/if}}
{{/inline}}

{{#if is_htmx}}
    {{> content}}
{{else}}
    {{> (lookup this "layout")}}
{{/if}}