{{#if (or (eq role "owner") (eq role "admin"))}}
    <form class="invite-form" method="POST" hx-post="/organization/{{org_id}}/invite"
        hx-disabled-elt=".invite-form button" hx-target=".invite-form">

        <h4>Invite Member</h4>

        {{> components/text_input 
            name="email"
            type="email"
            value=form.email
            label="Email *"
            placeholder="john.doe@example.com"
            errors=errors.email
            helper_text=""
        }}

        <div>
            <label for="role-select">Role</label>
            <select name="role" id="role-select">
                <option value="member" {{#if (eq form.role "member")}}selected="selected" {{/if}}>Member</option>
                <option value="admin" {{#if (eq form.role "admin")}}selected="selected" {{/if}}>Admin</option>
                <option value="owner" {{#if (eq form.role "owner")}}selected="selected" {{/if}}
                    {{#if (ne role "owner")}}disabled="true" {{/if}}>Owner</option>
            </select>
            <small>
                <ul>
                    <li>A member can view, archive and delete reports, manage notifications.</li>
                    <li>An admin can also invite and remove other admins and members.</li>
                    <li>Owner can do all of the above plus add other owners and delete the organization.</li>
                </ul>
            </small>
        </div>

        <button type="button" hx-get="/organization/{{org_id}}/members"
            hx-push-url="/organization/{{org_id}}?tab=members" hx-target=".organization-tabs">
            Cancel
        </button>

        <button type="submit" class="primary">
            Invite
            {{> components/icon name="loader" size=24 }}
        </button>
    </form>
{{else}}
    <div class="info-section">
        <h3 class="title">Permission Denied</h3>
        <p>
            Only organization owners and admins can add members.
        </p>
        <button type="button" hx-get="/organization/{{org_id}}/members"
            hx-push-url="/organization/{{org_id}}?tab=members" hx-target=".organization-tabs">
            Back
        </button>
    </div>
{{/if}}