{{> components/organization_tabs active="members" org_id=org_id}}

<div role="tabpanel" class="tab-content">
    <div class="reports-table">
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Added</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>


                {{#each members}}
                    <tr>
                        <td>{{user.email}}</td>
                        <td>{{#if user.name}}{{user.name}}{{else}}-{{/if}}</td>
                        <td>{{user_org.role}}</td>
                        <td>{{dateFmt date=user_org.created tz=../user.iana_timezone_name}}</td>
                        <td>
                            {{#if (ne user.user_id ../user.user_id) }}
                                <button class="btn-icon" title="Edit"
                                    hx-get="/organization/{{../organization.organization_id}}/member-edit/{{user.user_id}}"
                                    {{#if (eq user.user_id ../user.user_id) }}disabled="" {{/if}}
                                    hx-target=".tab-content">
                                    {{> components/icon name="edit"}}
                                </button>
                            {{else}}
                                -
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
                {{#each invitations}}
                    <tr>
                        <td>{{email}} <small class="text-muted">(invited)</small></td>
                        <td>-</td>
                        <td>{{role}}</td>
                        <td>{{dateFmt date=created tz=../user.iana_timezone_name}}</td>
                        <td>
                            <button type="button"
                                class="btn-icon tooltip"
                                data-text="Resend invitation email"
                                title="Resend invitation email"
                                hx-post="/organization/{{../organization.organization_id}}/resend-invite/{{organization_invitation_id}}"
                                hx-swap="none"
                                x-data="{ disable: false }"
                                x-bind:disabled="disable"
                                x-on:click="disable = true"
                            >
                                {{> components/icon name="resend"}}
                            </button>
                            <button class="btn-icon" title="Delete"
                                hx-delete="/organization/{{../organization.organization_id}}/invite/{{organization_invitation_id}}"
                                hx-confirm="Are you sure you wish to delete this invitation?">
                                {{> components/icon name="delete"}}
                            </button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <button class="primary" hx-get="/organization/{{organization.organization_id}}/invite"
        hx-target=".tab-content">Invite Member</button>

</div>