<form class="project-edit-form" method="POST" hx-post="/organization/{{org_id}}/project-edit/{{project.project_id}}"
    hx-disabled-elt=".project-edit-form button" hx-target=".project-edit-form">

    <h4>Edit Project</h4>

    {{> components/text_input 
        name="project_name"
        value=form.project_name
        label="Project Name *"
        errors=errors.project_name
        helper_text="Max 80 characters."
    }}

    {{#if saved}}
        <div id="project_menu_name_{{project.project_id}}" hx-swap-oob="innerHTML">{{form.project_name}}</div>
    {{/if}}

    <button type="button" hx-get="/organization/{{org_id}}/projects"
        hx-push-url="/organization/{{org_id}}?tab=projects" hx-target=".organization-tabs">
        Cancel
    </button>

    <button type="submit" class="primary">
        Save
        {{> components/icon name="loader" size=24 }}
    </button>

    <button class="danger"
        style="float:right"
        hx-delete="/organization/{{org_id}}/project-edit/{{project.project_id}}"
        title="Delete Project"
        hx-confirm="Are you sure you wish to delete this project and all of its reports? This operation cannot be undone.">
        Delete Project
    </button>
</form>