{{#*inline "content"}}
    <span class="preheader">
        We&lsquo;ve received a password reset request for your account.
    </span>

    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main">

        <tr>
            <td class="wrapper">
                <p>Hello,</p>
                <p>
                    We&lsquo;ve received a password reset request for your account.
                </p>
                <p>
                    The request originates from {{ip}} ({{user_agent}}).
                </p>
                <p>
                    If you didn&lsquo;t initiate this request, please contact support and we'll help you secure your
                    account.
                </p>
                <table role="presentation" border="0" cellpadding="0" cellspacing="0"
                    class="btn btn-primary">
                    <tbody>
                        <tr>
                            <td align="left">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="{{scheme}}://{{base_url}}/auth/password-reset/{{hash}}"
                                                    target="_blank">Reset Password</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>Best regards, <br /> Don't Panic Team.</p>
            </td>
        </tr>

    </table>
{{/inline}}

{{> email/layout}}